<nz-layout class="layout">
  <nz-header id="header" style="position:fixed; width:100%; z-index: 19;">
    <div class="toggle">
      <button nz-button nzType="default" class="toggle-button" (click)="toggle()">
        <i nz-icon nzType="bars"></i>
      </button>
    </div>
    <div class="logo">
      <img src="/assets/images/proinde_logo.png" width="123" height="24" alt="Incident Management System">
    </div>
    <ul id="menu" nz-menu [nzTheme]="'dark'" style="line-height: 64px;" [class.collapsed]="!collapsed"
        [nzMode]="collapsed ? 'inline' : 'horizontal'">
      <li nz-menu-item>
        <a (click)="collapsed = false;">
          <span title>Incident Management</span>
        </a>
      </li>
      <li nz-submenu [style.float]="collapsed ? '' : 'right'">
        <nz-avatar title [nzSize]="30" nzIcon="user" [nzSrc]="'/assets/images/no-avatar.png'"></nz-avatar>
        <ul>
          <li nz-menu-item (click)="collapsed = false;">
            <span title><i nz-icon type="user"></i>User Profile</span>
          </li>
          <li nz-menu-divider></li>
          <li nz-menu-item (click)="collapsed = false;">
            <span title><i nz-icon type="logout"></i>Log out</span>
          </li>
        </ul>
      </li>
    </ul>

  </nz-header>
  <nz-content class="content">
    <div class="inner-content">
      <form nz-form [nzLayout]="'vertical'" [formGroup]="form" (ngSubmit)="onSubmit()">
        <nz-card [nzBordered]="false" nzTitle="Registration">
          <nz-row [nzGutter]="16">
            <nz-col nzLg="6" nzMd="12" nzSm="24">
              <nz-form-item>
                <nz-form-label nzFor="name" nzRequired>Name</nz-form-label>
                <nz-form-control>
                  <input nz-input formControlName="name" name="name" type="text" id="name">
                  <nz-form-explain *ngIf="name.errors?.required && (name.dirty || name.touched)">
                    Name is required
                  </nz-form-explain>
                </nz-form-control>
              </nz-form-item>
            </nz-col>
            <nz-col nzLg="6" nzMd="12" nzSm="24">
              <nz-form-item>
                <nz-form-label nzFor="birthDate" nzRequired>Birth Date</nz-form-label>
                <nz-form-control>
                  <nz-date-picker formControlName="birthDate" [nzFormat]="dateFormat"
                                  [nzAllowClear]="true"></nz-date-picker>
                  <nz-form-explain *ngIf="birthDate.errors?.required && (birthDate.dirty || birthDate.touched)">
                    Birth Date is required
                  </nz-form-explain>
                </nz-form-control>
              </nz-form-item>
            </nz-col>
          </nz-row>
          <nz-row [nzGutter]="16">
            <nz-col nzLg="12" nzMd="12" nzSm="24">
              <nz-form-item>
                <nz-form-label nzFor="email" nzRequired>E-mail</nz-form-label>
                <nz-form-control>
                  <input nz-input formControlName="email" name="email" type="email" id="email">
                  <nz-form-explain *ngIf="email.errors && (email.dirty || email.touched)">
                    <ng-container *ngIf="email?.hasError('required')">
                      Email is required
                    </ng-container>
                    <ng-container *ngIf="email?.hasError('email')">
                      Emails is invalid
                    </ng-container>
                  </nz-form-explain>
                </nz-form-control>
              </nz-form-item>
            </nz-col>
          </nz-row>
          <nz-row>
            <nz-col nzLg="12" nzMd="12" nzSm="24">
              <nz-form-item nz-row>
                <nz-form-control>
                  <button nz-button nzType="primary">Register</button>
                </nz-form-control>
              </nz-form-item>
            </nz-col>
          </nz-row>
        </nz-card>
      </form>
    </div>
  </nz-content>
  <nz-footer style="text-align: center;">Representa&ccedil;&otilde;es Proinde Ltda. &copy;2019</nz-footer>
</nz-layout>
